.clothes-section {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
  flex: 1; /* take up remaining space */
}

.clothes-section__header {
    display: flex;
      align-items: center;
      gap: 20px;
      /* justify-content: space-between; */
}

.clothes-section__title {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}

.clothes-section__add-btn {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5); /* Matching UI grey text */
  padding: 0;
}

.clothes-section__add-btn:hover {
  color: #000;
}

.clothes-section__items {
  display: grid;
    grid-template-columns: repeat(3, minmax(325px, 1fr));
    gap: 20px;
    padding: 0;
    margin: 34px 0 0;
}

.item-card__name {
  position: absolute;
  top: 100px;  
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}