.profile {
  display: flex;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0;
  align-items: flex-start;
  gap: 80px;
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    padding: 20px;
    gap: 40px;
  }
}
