.item-card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* gap: 20px; */
  width: 325px;
  height: 328px;
  padding: 0;
  margin: 0;
}

.item-card__image {
  position: relative;
  display: flex;
  width: 325px;
  height: 328px;
  object-fit: cover;
  border-radius: 12px;
  border: 1px #0000004d solid;
  cursor: pointer;
  z-index: 0;
}

.item-card__name {
  display: flex;
  padding: 2px 12px 0;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 1;
}
