.main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0;
}

.main__clothes {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
}

.main__description {
  color: #000;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.main__items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 34px 0 0;
  list-style: none; /* since it's a ul */
}
